* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin:0;
  background-color: #00c4ff;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
div.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
  background-color: white;
  height: 100vh;
  padding: 30px;
}
h1 {
  font-size: 30px;
  text-align: center;
}
div.code-content {
  background-color: #e1e1e1;
  padding:30px;
  margin-top: 40px;
}